In [1]:
import pandas as pd
from pysal.model import spreg

In [2]:
db = pd.read_csv("polis data_distributed.csv")

In [3]:
db = db.drop(['prom 2', 'prom 3','area 2', 'Bronze', 'Silver', 'Grid', 'Koinon', 'Pleiades link', 'Unnamed: 27'], axis=1)

In [4]:
db = db.dropna()

In [5]:
db

,polis#,Name,Polisity,Hellenicity,In/out,staseis,prom 1,area 1,Colonies,Victors,Proxenoi,Democracy,Walls,Delian L,Region name,Region #,Latitude,Longitude,Elevation m
0,1,Alalie,1.0,1,1,0,1.12,3.0,0,0,0,0,1,0,Spain & France,1,42.102400,9.511828,41.7
1,2,Emporion,1.0,2,2,0,2.12,2.0,0,0,0,0,1,0,Spain & France,1,42.133420,3.114549,0.0
2,3,Massalia,1.0,1,2,1,4.00,2.0,2,0,0,1,1,0,Spain & France,1,43.296854,5.382499,32.5
3,4,Rhode,2.0,1,3,0,0.87,0.0,0,0,0,0,0,0,Spain & France,1,42.264882,3.173819,0.0
4,5,Abakainon,2.0,2,2,0,1.00,0.0,0,0,0,0,1,0,Sikelia,2,38.051810,15.100333,385.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,1025,Barke,1.0,1,2,0,2.50,4.0,0,1,0,1,1,0,Syria to Pillars of Herakles,45,32.499653,20.871743,286.3
1025,1026,Euhesperides,1.0,1,2,0,2.50,2.0,0,0,2,1,1,0,Syria to Pillars of Herakles,45,32.109789,20.091198,16.3
1026,1027,Kinyps,1.0,1,1,0,0.25,0.0,0,0,0,0,0,0,Syria to Pillars of Herakles,45,32.527937,14.447329,0.4
1027,1028,Kyrene,1.0,1,2,7,7.37,6.0,3,3,1,2,1,0,Syria to Pillars of Herakles,45,32.823041,21.857270,615.8
1028,1029,Taucheira,1.0,1,2,0,1.75,3.0,0,0,0,0,1,0,Syria to Pillars of Herakles,45,32.536399,20.567298,4.4

In [6]:
db.columns

Index(['polis#', 'Name', 'Polisity', 'Hellenicity', 'In/out', 'staseis',
       'prom 1', 'area 1', 'Colonies', 'Victors', 'Proxenoi', 'Democracy',
       'Walls', 'Delian L', 'Region name', 'Region #', 'Latitude', 'Longitude',
       'Elevation m'],
      dtype='object')

In [11]:
variable_names = ['Polisity', 'Hellenicity', 'In/out',
       'prom 1', 'area 1', 'Colonies', 'Victors', 'Proxenoi', 'Democracy',
       'Walls', 'Delian L', 'Region #', 'Latitude', 'Longitude',
       'Elevation m']

In [12]:
# Fit OLS model
m1 = spreg.OLS(
    # Dependent variable
    db[["staseis"]].values,
    # Independent variables
    db[variable_names].values,
    # Dependent variable name
    name_y="staseis",
    # Independent variable name
    name_x=variable_names,
)

In [13]:
print(m1.summary)

REGRESSION RESULTS
------------------

SUMMARY OF OUTPUT: ORDINARY LEAST SQUARES
-----------------------------------------
Data set            :     unknown
Weights matrix      :        None
Dependent Variable  :     staseis                Number of Observations:         902
Mean dependent var  :      0.4534                Number of Variables   :          16
S.D. dependent var  :      1.6522                Degrees of Freedom    :         886
R-squared           :      0.4897
Adjusted R-squared  :      0.4811
Sum squared residual:     1255.05                F-statistic           :     56.6874
Sigma-square        :       1.417                Prob(F-statistic)     :  3.182e-118
S.E. of regression  :       1.190                Log likelihood        :   -1428.855
Sigma-square ML     :       1.391                Akaike info criterion :    2889.710
S.E of regression ML:      1.1796                Schwarz criterion     :    2966.583

------------------------------------------------------------------------------------
            Variable     Coefficient       Std.Error     t-Statistic     Probability
------------------------------------------------------------------------------------
            CONSTANT        -0.50255         0.86499        -0.58098         0.56140
            Polisity         0.08827         0.05951         1.48321         0.13837
         Hellenicity        -0.07761         0.07551        -1.02787         0.30429
              In/out         0.03820         0.05866         0.65128         0.51503
              prom 1         0.35139         0.04471         7.85976         0.00000
              area 1        -0.01041         0.03406        -0.30563         0.75996
            Colonies         0.04838         0.02438         1.98415         0.04755
             Victors         0.42904         0.07510         5.71330         0.00000
            Proxenoi         0.20312         0.06516         3.11747         0.00188
           Democracy         0.42777         0.07690         5.56280         0.00000
               Walls         0.02821         0.08990         0.31377         0.75377
            Delian L         0.20217         0.09955         2.03082         0.04257
            Region #         0.00101         0.00547         0.18458         0.85360
            Latitude        -0.00611         0.02145        -0.28493         0.77576
           Longitude         0.00538         0.01388         0.38771         0.69832
         Elevation m         0.00002         0.00016         0.12670         0.89920
------------------------------------------------------------------------------------

REGRESSION DIAGNOSTICS
MULTICOLLINEARITY CONDITION NUMBER          91.397

TEST ON NORMALITY OF ERRORS
TEST                             DF        VALUE           PROB
Jarque-Bera                       2      48247.914           0.0000

DIAGNOSTICS FOR HETEROSKEDASTICITY
RANDOM COEFFICIENTS
TEST                             DF        VALUE           PROB
Breusch-Pagan test               15       4925.514           0.0000
Koenker-Bassett test             15        265.101           0.0000
================================ END OF REPORT =====================================